<div id="author-show">
  <h1><%= @author.name %></h1>
  <h3>Books</h3>
  <ol>
    <% 'No books yet' if @author.books.empty? %>
    <% @author.books.each do |book| %>
    <li>
      <%= book.title %>
      <button class="button" type="button" name="button"><%= link_to 'Details', author_book_path(@author, book) %></button>
      <br>
    </li>
    <% end %>
  </ol>

  <div>
    <h3>Add a Book</h3>
    <%= form_with(model: Book.new, local:true) do |f| %>
      <%= hidden_field_tag :author_id, @author.id %>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
      <br>
      <%= f.select :tag_ids, options_from_collection_for_select(Tag.all, 'id', 'name')%>
      <%= f.submit %>
    <% end %>
  </div>


  <button class="button" type="button" name="button"><%= link_to 'Delete', @author, method: 'delete', local: true%></button>
  <button class="button" type="button" name="button"><%= link_to 'Back', authors_path %></button>

</div>
